<footer class = 'footer'>
	<hr>
	<small>
		Produced By<ul class = 'ft'> <%=link_to "Divine Dube", root_path%></ul>
	</small>
	<nav>
		<ul>
				<%= link_to "About", about_path%>
				<%= link_to "Contact", contact_path%>
		</ul>
	</nav>
</footer>
